.input[type="text"],
.input[type="email"],
.input[type="password"],
.textarea,
.select {
  display: block;
  width: 100%;
  padding: 6px 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline-width: 0;
  /* margin-bottom: 20px; */
}

.form_grid_col_1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 10px;
}
.form_grid_col_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.form {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 4px;
  padding: 1rem;
}

input + label {
  font-weight: bold;
  display: inline-flex;
  margin-right: 20px;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

.form-control {
  margin-bottom: 20px;
}

.error {
  color: red;
}

@media (max-width: 576px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    width: 90%;
  }
}
