.dashboard {
  display: "flex";
}

.dashboard {
  display: flex;
}

.container-outer {
  /* margin: 10%; */
  height: 88vh;
  /* border-radius: 5%; */
  background-color: #f3f7ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-left: 10%;
}

.heading {
  flex: 0.6;
  margin-top: 5%;
  height: 2rem;
}
.menu {
  flex: 3;
}
.end {
  background-color: #5c65ff;
  border-radius: 5%;
  flex: 1;
  margin-right: 10%;
  margin-bottom: 10%;
}
ul {
  list-style-type: none;
}
li {
  margin-top: 5%;
}
a {
  text-decoration: none;
  font-size: 120%;
  color: black;
  font-weight: 90%;
  padding-left: 10%;
}

.feed {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.searchbar {
  margin: 3%;
  flex: 0.2;

  display: flex;
  justify-content: space-between;
}
.left {
  width: 50%;
}
.right {
}

.middle-bar {
  flex: 2.5;
  display: flex;
  margin: 2%;
  border-radius: 2%;
  background-color: #1a1b37;
}
.outside {
  flex: 2;
  padding-left: 10%;
}

.inside {
  flex: 1;
  margin: 2%;
  background-color: #5c65fe;
  border-radius: 5%;
}

.box {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.inside-box {
  display: flex;
  justify-content: space-between;
  border-radius: 5%;
}
.inside-box-1 {
  flex: 1;
  margin: 5%;
  /* 
    border-radius: 5%;
    background-color: #646ef5; */
}
.inside-box-2 {
  flex: 1;
  margin: 5%;
  margin-left: -15px;
}
.inside-box-main {
  display: flex;
  justify-content: space-between;
  border-radius: 5%;
}
.inside-box-3 {
  flex: 1;
  margin: 5%;
  /* border-radius: 5%;
    background-color: #646ef5; */
}
.inside-box-4 {
  flex: 1;
  margin: 5% 0%;
  margin-left: -25px;
}

.end-bar {
  margin: 1%;
  flex: 2;
  display: flex;
}

.img-side {
  display: flex;
  flex-direction: column;

  flex: 1;
  border-radius: 5%;
  background-color: #eeba17;
  justify-content: space-between;
}
.img-side-inside-1 {
  flex: 1.5;
}
.img-margin {
  margin-bottom: 10px !important;
}
.img-side-inside-2 {
  flex: 1;
  margin: 5%;
  border-radius: 5%;
  background-color: white;
}
.img-outside {
  flex: 3;

  display: flex;

  flex-direction: column;
  justify-content: space-between;
  margin: 1%;
  border-radius: 5%;
}
.img-outside-inside-1 {
  flex: 1;
  padding-right: 15%;
  background-color: white;
}
.img-outside-inside-2 {
  flex: 1.5;
  display: flex;

  justify-content: space-around;
}
.img-outside-inside-2-1 {
  background-color: #f3f7ff;
  width: 15%;
  padding-left: 3%;
}
.img-outside-inside-2-2 {
  width: 15%;
  padding-left: 3%;
  background-color: #f3f7ff;
}
.img-outside-inside-2-3 {
  width: 15%;
  padding-left: 3%;
  background-color: #f3f7ff;
}

.endbar-start {
  height: 100vh;
  display: flex;
  padding-left: 5%;
  padding-top: 2rem;
  flex-direction: column;
  justify-content: space-between;
}
.endbar-start-1 {
  flex: 0.4;
  display: flex;
  justify-content: flex-end;
}
.endbar-start-2 {
  flex: 2;
}

.endbar-start-3 {
  flex: 1;
}

.endbar-start-4 {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.endbar-cant-2 {
  margin-top: 2%;
  width: 90%;
  height: 60%;
  background-color: #f3f7ff;
}
.avtar-outer {
  display: flex;
  flex-direction: column;
}
.flex-row-1 {
  display: flex;
  margin-right: 30%;
}
.container {
  /* flex: 0.2; */
  max-height: 100%;
  min-height: 100vh;
  transition: all 0.5s ease-in-out;
}
.container1 {
  flex: 0.5;
}
.container2 {
  flex: 0.5;
}
.full-container {
  margin: 0 auto;
  padding: 1rem;
}
.sidefloat {
  visibility: hidden;
}
.left-section-icons,
.menu-icon {
  height: 1rem;
  margin: 0 auto;
}

@media only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .middle-bar {
    display: flex;
    margin: 2%;
    border-radius: 2%;
    flex-direction: column;
    background-color: #1a1b37;
  }
  .end-bar {
    margin: 1%;
    flex: 2;
    display: flex;
    flex-direction: column;
  }

  .img-side {
    display: flex;
    flex-direction: column;
    height: 250px;
    flex: 1;
    border-radius: 5%;
    background-color: #eeba17;
    justify-content: space-between;
  }
  .container {
    visibility: hidden;
  }
  .container2 {
    visibility: hidden;
  }
  .container1 {
    position: absolute;
  }
}
.new-img{
  margin-right: 10px!important;
}