.layout {
  height: 100vh;
}

.body {
  height: 90vh;
  display: flex;
  z-index: -10;
}

.input_addcase[type="email"],
.input_addcase[type="password"],
.textarea_addcase,
.select_addcase,
.date_addcase {
  /* display: block; */
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* margin-bottom: 20px; */
}

.date_addcase {
  width: 96%;
}

.select_addcase {
  width: 98%;
}

.input_addcase[type="text"] {
  width: 99.8%;
  padding: 6px 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form_addcase {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 4px;
  padding: 2rem 5rem 2rem 5rem;
  /* margin: 2rem 10rem 2rem 10rem; */
  margin: 3rem;
}

/* input + label {
  font-weight: bold;
  display: inline-flex;
  margin-right: 20px;
} */

.label_addcase {
  font-weight: 500;
}

.form-control {
  margin-bottom: 20px;
}

.error {
  color: red;
}

@media (max-width: 576px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    width: 90%;
  }

  .form_addcase {
    margin: 2rem;
    padding: 1rem;
  }

  .date_addcase {
    width: 91%;
  }

  .case_number {
    min-height: 0;
  }
}
