.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__form {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 4px;
  padding: 1rem;
  width: 27rem;
}

@media (max-width: 576px) {
  .login__form {
    width: 17rem;
  }
}
